@charset "utf-8";
/* CSS Document */

/* initialize
 ==========================================================*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
  margin:0;
  padding:0;
}
table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after { content:''; }
abbr,acronym { border:0; }


/* html, body, img
 ==========================================================*/

html {
  font-size: 13px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  line-height: 1.4em;
}

img {
  border: 0 none;
  -ms-interpolation-mode: bicubic;
}

#contents{
	width:950px;
}

h1{
	border-bottom:solid 1px #000;
	font-size:1.3em;
	padding-bottom:2px;
	margin-bottom:5px;
}

h2{
	border-bottom:solid 1px #000;
	font-size:1.2em;
	padding-bottom:3px;
}

#main{
	padding:20px 10px 0px 10px;
	width:720px;
	float:left;
}

#main img{
	width:700px;
	heght:520px;
	position:absolute;
	top:50px;
	left:20px;
}

#menu{
	padding:20px 0px 0px 10px;
	width:200px;
	float:right;
}

#menu ul{
	margin-top:20px;
}

#menu ul li {
	font-size:1.1em;
  line-height:120%;
	margin-bottom:3px;
	cursor:pointer;
}

#menu ul li:hover {
  background:pink;
}

#menu #text_zone{
	margin-top:20px;
}

#menu #text_zone div{
	padding:5px;
	border:solid 1px #666;
	line-height:1.2em;
}

#mobile{
	padding:20px 10px 0px 10px;
}

#mobile img{
	display:block;
}

.box{
	margin-bottom:20px;
}
